body {
  text-align: center;
  background-color: #51d0de;
  font-family: 'Josefin Sans', sans-serif;
}
h1 {
    background-color: #bf4aa8;
    color: #d9d9d9;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}
#description {
  font-style: italic;
}
img {
  display: center;
  padding: 20px;
  width: 50%;
}
.input-field {
  height: 20px;
  width: 250px;
  padding: 7px;
  margin: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  background-color: #d9d9d9;
}
.radio {
  text-align: right;
  margin-right: 35%;
}
#improve {
    text-align: left;
}

.checkbox {
    margin-left: 15%;
}

.dropdown {
  height: 35px;
  width: 140px;
  margin: 10px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #d9d9d9;

}
.radio, .checkbox {
  position: relative;


  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

textarea {
    border-radius: 5px;
    background-color: #d9d9d9;
}

.btn-primary {
    margin-bottom: 15px;
    background-color: #bf4aa8;
    border-color: #bf4aa8;
}

ul {
    background-color: #d9d9d9;
    width: 75%;
    margin-left: 50px;
    border-radius: 7px;
    border-color: white;
    border-width: thick;
}

.modal {
    display: none;
    position: fixed;
    top: 20px;
    bottom: 20px;
	left: 0;
	right: 0;
    margin: auto;
	padding: 10px;
	border-radius: 5px;
    border-color: #bf4aa8;
    color: #d9d9d9;
	width: 70%;
    height: 50%;
    text-align: center;
    border: solid;
    border-width: 2px;
    font-size: 30px;
    background: #bf4aa8;
}

/* ======================= Media Queries ============================ */

/* optimized for iPad */

@media screen and (min-width: 415px) and (max-width:768px) {
    .radio {
      margin-right: 40%;
    }
    .checkbox {
        margin-left: 30%;
    }
    ul {
        width: 50%;
        margin-left: 200px;
    }
    textarea {
        min-width: 50%;
    }
}

/* specifically for iPad Pro */

@media (width: 1024px) {
    .radio {
      margin-right: 40%;
    }
    .checkbox {
        margin-left: 30%;
    }
    ul {
        width: 50%;
        margin-left: 260px;
    }
    textarea {
        min-width: 50%;
    }
}

/* display for desktops*/
@media screen and (min-width: 1025px) and (max-width: 1800px) {
    img {
        max-width: 25%;
    }
    ul {
        width: 30%;
        margin-left: 35%;
    }
    .radio {
      margin-right: 35%;
    }
    .checkbox {
        margin-left: 25%;
    }
    #label, #email-label, #number-label, #fam-label, #com-label {
        padding-top: 30px;
    }
    textarea {
        min-width: 40%;
    }
    .modal {
    	width: 50%;
        height: 50%;
        text-align: center;
        font-size: 50px;
        vertical-align: middle;
        padding-top: 50px;
    }
}
